@{
    ViewData["Title"] = "Home Page";
}
<form method="post">
    <div class="text-center">
        <h1 class="display-4">Веб-приложение по вычислению площади:</h1>
        <div class="TriangleArea">
            @Html.Label("Введите три стороны для вычисления площади треугольника");
            <input type="number" name="Side1TB" />
            <input type="number" name="Side2TB"/>
            <input type="number" name="Side3TB" />
            <input type="submit" value="Посчитать"/>
            <p>@ViewBag.TriangleArea</p>
        </div>
    </div>
</form>

