<form method="post">
    @Html.Label("Введите три стороны для вычисления площади треугольника");
    <div class="TriangleArea">
        <input type="number" name="Side1TB"  value="Введите первую сторону.."/>
        <input type="number" name="Side2TB" value="Введите вторую сторону.." />
        <input type="number" name="Side3TB" value="Введите третью сторону.." />
        <input type="submit" value="Посчитать" onclick="TriangleClick();"/>
    </div>
</form>
<p><span id="ResultTB"></span>@Model</p>